
.px-5-percent{
  padding: 0 3%;
}


/* ==================================
       Default Browser Stylesheet
   ================================== */

::selection {
  background: #44b913;
  color: #ffffff;
  text-shadow: none;
}


::-moz-selection {
  background: #44b913;
  color: #ffffff;
  text-shadow: none;
}

//End Default Browser Stylesheet

//GLOBAL VARIABLE FOR SQUARE

$font-roboto: 'Roboto', sans-serif;
$nav-color: #292929;
$header-color: #292929;
$paragraph-color: #696969;
$brand-color:#42A646;
$copyright-bg:#191919;
$footer-bg:#2F2F2F;
$white-color:#ffffff;
$paragraph-size: calc(16px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));

//End Common Global Style For the Square
